@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans:wght@500&display=swap');


.App {
  text-align: center;
  background-color: #EAE5DD;
  padding: 10%;
}
.frame{
  border: 1px solid #000;
  max-width: 500px ;
  margin-top: -80px;
}
.shirt{
  width: 250px;
}
.main{
  padding: 10%;
  background-color: #E2DBD1;
}
.size{
height: 40px;
background-color: #E2DBD1;
font-family: 'Press Start 2P';
font-size: 6px;
}

.footer{
  display: flex;
  border: 1px solid black;
}
.inpt{
  height: 40px;
  width: 90%;
  background: none;
  font-family: 'Work Sans';
  font-weight: 100;
  border: 0.5px solid black;

}
.sendbtn{
  width:10%;
  background-color: #E2DBD1;
  right:0;
}
.paydbtn{
  background-color: #000;
  color:white;
  width: 50%;
  height: 40px;
  font-family: 'Press Start 2P';
  font-size: 1.5vh;
  
}
.header{
  display: flex;
  float: middle;
  border: 1px solid black;
  background-color: #E2DBD1;
}

.price{
  height: 40px;
  width: 50%;
  font-family: 'Work Sans';
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;

}
.heading{
  text-align: left;
  }


.card{
  width:40%;
  border: 1px solid #000;
  padding:10px;
  font-family: 'Work Sans';
  margin-top: 50px;
}
.title{
  font-weight: 500;
}
.poptxt{
  font-weight: 100;
}
.thankyoubtn{
  padding: 10px;
  background-color: #DDD0BC;
  font-family: 'Work Sans';
 border: 0.5px solid black;
}


.selectcolor{
  width:80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
input {
  display: none;
}
.inpt{
  display: block;
}

.button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.button span {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 0;
  background: #eeeeee;
  transition: ease .3s;
}

.button span:hover {
  padding: 10px;
}

.orange .button span {
  background: #FF5722;
}

.amber .button span {
  background: #FFC107;
}

.lime .button span {
  background: #8BC34A;
}

.teal .button span {
  background: #009688;
}

.blue .button span {
  background: #2196F3;
}

.indigo .button span {
  background: #3F51B5;
}

.layer {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  /*transition: ease .3s;*/
  z-index: -1;
}


.cart{
  background-color: #E2DBD1;
  width: 300px;
  font-family: 'Work Sans';
  padding: 10px;
  font-style: normal;
  border:1px solid black;
  border-radius: 5px;
}
.itemhead{
  display: flex;
  margin-left: 10px;
}
.underline{
  font-weight: 100;
  text-decoration-line: underline;
  font-size: 14px;
}
.marginleft{
  margin-left: 160px;
  font-weight: 100;
  text-decoration-line: underline;
  font-size: 14px;
}
.carttitle{
  margin-left: 10px;
}
.itemdiv{
  display: flex;
  font-weight: 100;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:10px;
}
.priceitm{
  margin-left: 160px;
}

.totalcart{
font-size: 15px;
font-style: normal;
font-weight: 600;
padding: 15px;
}

.totalprice{
  margin-left: 100px;
}

.proceedpay{
  background-color: #000;
  width: 300px;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: 'Work Sans';
  margin-top: 10px;
  border: none;
  border-radius: 5px;

}

.form{
  background-color: #E2DBD1;
  width: 600px;
  font-family: 'Work Sans';
  padding: 10px;
  font-style: normal;
  border:1px solid black;
  border-radius: 5px;
  

}
.formrow{
  display: flex;
  width: 90%;
}
.forminpt{
  display: block;
  background: none;
  padding: 10px;
  width:60%;
  margin: 10px;
  border: 0.5px solid black;
  font-family: 'Work Sans';
}
.formtxtarea{
  height: 100px;
  width: 540px;
  background: none;
  padding: 10px;
  width:60%;
  margin: 10px;
  font-family: 'Work Sans';
}
.postalcode{
  display: block;
  background: none;
  padding: 10px;
  width:42.5%;
  margin: 10px;
  border: 0.5px solid black;
  font-family: 'Work Sans';
}

.pagetitle{
  font-family: 'Work Sans';
  font-size: 20px;
  margin-left: 80px;
  margin-bottom:-50px ;
  margin-top: 50px;
}

.rowsec{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.colsec{
  display: block;
  padding: 10px;
}

.prehead{
  margin-top: 50px;
  font-family: 'Press Start 2P';
  
}

.itemcard{
  background-color: #E2DBD1;
  width: 300px;
  margin: 10px;

}
.thumb{
  width:70%;
  padding: 10%;
 
}
.itembuy{
  width: 100%;
  padding: 5%;
  font-family: 'Press Start 2P';
  background-color: #000;
  color: white;
  border: none;

}

.adcard{
  background-color: #E2DBD1;
  width: 600px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  
}
.adrow{
width: 95%;
padding:10px;
border: 1px solid #000;
margin-bottom: 10px;
border-radius: 10px;
text-align: left;
font-family: 'Work Sans';
}
.adrow:hover{
  background-color: #A28D6F;
}
.addnewaddress{
  border: none;
  background: none;
  padding: 10px;
  
}

.colsecm{
  display: block;
  margin-top: -20px;
}

.useaddbtn{
  margin-top: 20px;
  padding: 20px;
  border:none;
  background-color: #000;
  color: white;
  border-radius: 10px;
  float: left;
  font-family: 'Work Sans';
}

.pagetxt{
  font-family: 'Work Sans';
  font-size: 20px;
  margin-left: 80px;
}

.nav{
  width:100%;
  background-color:#000 ;
  padding: 10px;
}
.logonav{
width: 150px;
align-content: left;
}

.privacylink{
  display: 'relative';
  font-family: 'Press Start 2P';
  font-size: 10px;
  color:#FEE9C4;
  float: right;
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
}

.pagetxtbox{
  margin-top: -80px;
}

.privacyhead{
  font-family: 'Press Start 2P';
  font-size: 16px;
  padding: 10px;
}

.prerow{
  display: flex;
  padding: 10px;
}